<div class="modal fade" id="shoppingCart" tabindex="-1" role="dialog"
     aria-labelledby="shoppingCartTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shoppingCartTitle"><i class="fas fa-cart-arrow-down"></i>My Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- listing items starts -->
                {{#if cart}}
                    <div>
                        <ul class="list">
                            {{#each cart}}
                                <li>{{this.name}} <span class="price">{{this.price}}</span></li>
                            {{/each}}
                        </ul>
                        <div>
                            <a href="/checkout" class="btn checkout m-3">Checkout</a>
                        </div>
                    </div>
                    <!-- listing items ends -->
                {{else}}
                    <div>
                        <h3 class="px-5">Select Something</h3>
                    </div>
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!-- footer -->
</body>
</html>
