{{> partials/header.hbs}}

    <div id="authPage" class="">
        <div class="signin-container justify-content-center">
            <div class="card d-flex justify-content-center">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                    <p id="log" style="color:red;"></p>
                </div>
                <div class="card-body">
                    <form class="form-signin" id="loginForm">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="text" id="email" class="form-control" name="email" placeholder="Email" required autofocus>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="row">
                            <div class="progress waitLogo" style="width:25%;height:20px;margin:auto; margin-top: 10px; margin-bottom: 10px;" hidden>
                                <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuenow="100" aria-valuemin="100"
                                     aria-valuemax="100" style="width:100%; background-color:#104774;">
                                    processing . . .
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary float-right" type="submit">Sign in</button>
                    </form>
                </div>
                <div class="card-footer ">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="/signup">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    
    
<script type="text/javascript">

    $(document).ready(function () {

    $("#loginForm").on("submit", function(event) {

        event.preventDefault();

        $("#log").html("");
        var email = $("#email").val();
        var password = $("#password").val();


        $.ajax({
            type: "POST",
            url: "/signin",
            data: {"email": email, "password": password},
            success: function (response) {
                console.log(JSON.stringify(response))
                $("#log").html("<strong>Welcome back! <a href=\"/\"> Go to Home Page</a> </strong>");
                $("#email").val("");
                $("#password").val("");
                },
            error: function (error) {
                console.log("error called! " + JSON.stringify(error));
                $("#log").html("<strong>Oops!Something went wrong, try again!</strong>\n\
                    <br>");
                $("#email").val("");
                $("#password").val("");
            }
        });


    });




 $(document).ajaxStart( function() {
    $(".progress").show();
 });

$(document).ajaxComplete( function () {
    $(".progress").hide();
});



 });
</script>

{{> partials/footer.hbs}}